<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.demo">

    <!-- bugly -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 必须的权限： -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 可选的权限： -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
       >
        <!--   android:requestLegacyExternalStorage="true" 重要, 否则 ≥ Android 10 时仍然无法读取 sdcard     -->

        <activity
            android:name="com.tencent.demo.activity.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.demo.activity.CameraXActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.demo.avatar.activity.BodyTrackingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.demo.activity.ImageInputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.demo.activity.PreviewOnlyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.demo.avatar.activity.AvatarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.demo.avatar.activity.AvatarApiExampleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.demo.avatar.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.tencent.demo.avatar.activity.GenderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.demo.avatar.activity.AvatarLaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.tencent.demo.avatar.activity.AvatarNoCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.demo.avatar.activity.Audio2ExpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.tencent.demo.avatar.activity.TestActivity"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.tencent.demo.activity.LaunchActivity"
            android:icon="@drawable/icon"
            android:label="X-magic"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

    </application>
</manifest>