*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/gradle
/build
/captures
.externalNativeBuild
.apk
/app/anchor/
/app/proguardMapping.txt
/app/user/
/app/bugly/
/app/anchorQQ/
/app/userQQ/
/app/anchorAi/
/app/userAi/
/app/anchor24/
/app/user24/
/app/user51P/
/app/anchor51P/
/app/anchorTest/
/app/anchorThi/